.form-ppdb {
	margin-top: 100px;
}

.first-form input {
	width: 70%;
	padding: 10px;
	border-radius: 10px;
	border: 2px rgb(113, 113, 231) solid;
	outline: none;
}

.second-form textarea {
	border: 2px rgb(113, 113, 231) solid;
	padding: 10px;
	border-radius: 10px;
	width: 70%;
	outline: none;
}

.jenis-kelamin,
.agama,
.know-from {
	padding: 20px;
	border: 2px rgb(113, 113, 231) solid;
	border-radius: 10px;
	margin: 20px 0;
}

.jenis-kelamin {
	height: 50px;
}

.jenis-kelamin label,
.jenis-kelamin label {
	margin-left: 20px;
}

.agama select,
.know-from select {
	width: 200px;
	padding: 5px;
	border: 2px rgb(113, 113, 231) solid;
	border-radius: 10px;
	margin: 20px 0;
}

.agama input,
.know-from input {
	width: 200px;
	padding: 5px;
	border: 2px rgb(113, 113, 231) solid;
	border-radius: 10px;
	margin: 20px 0;
	outline: none;
}

.checkbox {
	width: 15px !important;
}

.form-ppdb .btn-form-submit {
	padding: 10px 0;
	background-color: rgb(113, 113, 231) !important;
	border: none;
	border-radius: 10px;
}

.form-ppdb {
	margin-top: 100px;
}

.first-form input {
	width: 80%;
	padding: 10px;
	border-radius: 10px;
	border: 2px rgb(113, 113, 231) solid;
	outline: none;
	margin-top: 30px;
}

.second-form textarea {
	border: 2px rgb(113, 113, 231) solid;
	padding: 10px;
	border-radius: 10px;
	outline: none;
}

.jenis-kelamin,
.agama,
.know-from,
.jurusan {
	padding: 20px;
	border: 2px rgb(113, 113, 231) solid;
	border-radius: 10px;
	margin: 20px 0;
}

.jenis-kelamin {
	height: 130px;
}

.jenis-kelamin label,
.jenis-kelamin p {
	margin-left: 20px;
}

.agama select,
.know-from select {
	width: 200px;
	padding: 5px;
	border: 2px rgb(113, 113, 231) solid;
	border-radius: 10px;
	margin: 20px 0;
}

.agama input,
.know-from input {
	width: 200px;
	padding: 5px;
	border: 2px rgb(113, 113, 231) solid;
	border-radius: 10px;
	margin: 20px 0;
	outline: none;
}

.know-from {
	margin-top: -60px;
}

.checkbox {
	width: 15px !important;
}

.form-ppdb .btn-form-submit {
	padding: 10px 0;
	background-color: rgb(113, 113, 231);
	border: none;
	border-radius: 10px;
	color: white;
	margin: auto;
	width: 90%;
}

